#files to ignore...

#overall files for workflow (for now)
*.sh

#LOCUST input files
*.dat
*.eqdsk
*.mesh.*
*.dfn
*.vtk

#python module files
*.pyc

#MAC ds_store
.DS_Store 

#emacs stuff
*~

#__pycache__ file
__pycache__

#note - to begin to ignore existing files, must use
#git rm --cached FILENAME