#files to ignore...

data/*/*
!data/*/sample_*

#files which contain prototyping code/not ready to be published yet
*.prototype*

#LOCUST input/output/compiled files
*.dat
*.eqdsk
*.mesh.*
*.dfn
*.vtk
*.o
*.mod

#Old plotting files
*.pro

#python module files
*.pyc

#MAC ds_store
.DS_Store 

#emacs stuff
*~

#__pycache__ file
__pycache__

#environment load files
*env

#LOCUST run script files
*.run

#changes file
changes

#VS code things
.vscode/*
tempCodeRunnerFile.python

#files beginning and ending with #
\#*# 

#gifs
*.gif

#note - to begin to ignore existing files, must use
#git rm --cached FILENAME