#files to ignore...

#files which contain prototyping code/not ready to be published yet
*.prototype*

#LOCUST input files
*.dat
*.eqdsk
*.mesh.*
*.dfn
*.vtk
*.f90

#Old plotting files
*.pro

#python module files
*.pyc

#MAC ds_store
.DS_Store 

#emacs stuff
*~

#__pycache__ file
__pycache__

#environment load files
*env

#LOCUST run script files
*.run

#changes file
changes

#note - to begin to ignore existing files, must use
#git rm --cached FILENAME